<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h3 th:text="#{routePointUpdate}"></h3>
        </div>
    </div>
    <a class="btn btn-outline-info"
       href="/admin-route" th:text="#{backToRoutes}"></a>
    <table class="table table-bordered">
        <caption th:text="#{listOfRoutePoints}"></caption>
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{name}"></th>
        </tr>
        <tr th:each="routePoint : ${routePointList}">
            <td th:text="${routePoint.id}"></td>
            <td>
                <div th:if="${routePoint.id == pointId}">
                    <form th:method="PATCH" th:action="@{/admin-routepoint/{id} (id = ${routePoint.id})}" th:object="${routePoint}">
                        <input id="name" th:field="*{name}">
                        <input class="btn btn-primary" type="submit" th:value="#{save}">
                    </form>
                </div>
                <div th:unless="${routePoint.id == pointId}">
                    <span th:text="${routePoint.name}"></span>
                </div>
            </td>
        </tr>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>