<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userUpdate} + ' | ' + #{cruiseCompany}"></title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h3 th:text="#{userUpdate}"></h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form th:method="PATCH" th:action="@{/admin-user/{id} (id=${userDTO.id})}" th:object="${userDTO}">
                <div class="mb-3">
                    <label for="login" th:text="#{login}"></label> :
                    <input readonly id="login" th:field="*{login}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="roles" th:text="#{role}"></label> :
                    <select class="form-select" th:field="*{role.id}" id="roles" autofocus>
                        <option th:each="role : ${roleDict}" th:value="${role.id}" th:text="#{${role.name}}"
                                th:selected="${role.id == userDTO.role.id}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" th:value="#{save}">
                    <input class="btn btn-secondary" type="reset" th:value="#{reset}">
                </div>
            </form>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>