<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{adminPanel} + ' | ' + #{cruiseCompany}"></title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <h3><span th:text="#{adminPanel}" th:remove="tag"></span></h3>
            <div class="row justify-content-center align-items-center mt-3">
                <a class="btn btn-info" href="/admin-cruise">
                    <span th:text="#{editCruises}" th:remove="tag"></span></a>
            </div>
            <div class="row justify-content-center align-items-center mt-3">
                <a class="btn btn-info" href="/admin-liner">
                    <span th:text="#{editLiners}" th:remove="tag"></span></a>
            </div>
            <div class="row justify-content-center align-items-center mt-3">
                <a class="btn btn-info" href="/admin-route">
                    <span th:text="#{editRoutes}" th:remove="tag"></span></a>
            </div>
            <div class="row justify-content-center align-items-center mt-3">
                <a class="btn btn-info" href="/admin-user">
                    <span th:text="#{editUsers}" th:remove="tag"></span></a>
            </div>
            <div class="row justify-content-center align-items-center mt-3">
                <a class="btn btn-info" href="/admin-ticket">
                    <span th:text="#{editTickets}" th:remove="tag"></span></a>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 ms-4">
            <h4 th:text="#{currentlyModifying}"></h4>
            <span th:text="#{cruise}"></span>:
            <p th:each="element : ${currentlyModifiedCruises}">
                <span th:text="#{id} + ' - ' + ${element.key}"></span>,
                <span th:text="#{user} + ' - ' + ${element.value}"></span>
            </p>
            <hr>
            <span th:text="#{liner}"></span>:
            <p th:each="element : ${currentlyModifiedLiners}">
                <span th:text="#{id} + ' - ' + ${element.key}"></span>,
                <span th:text="#{user} + ' - ' + ${element.value}"></span>
            </p>
            <hr>
            <span th:text="#{route}"></span>:
            <p th:each="element : ${currentlyModifiedRoutes}">
                <span th:text="#{id} + ' - ' + ${element.key}"></span>,
                <span th:text="#{user} + ' - ' + ${element.value}"></span>
            </p>
            <hr>
            <span th:text="#{ticket}"></span>:
            <p th:each="element : ${currentlyModifiedTickets}">
                <span th:text="#{id} + ' - ' + ${element.key}"></span>,
                <span th:text="#{user} + ' - ' + ${element.value}"></span>
            </p>
            <hr>
            <span th:text="#{user}"></span>:
            <p th:each="element : ${currentlyModifiedUsers}">
                <span th:text="#{id} + ' - ' + ${element.key}"></span>,
                <span th:text="#{user} + ' - ' + ${element.value}"></span>
            </p>
            <hr>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>