<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{routeFindAll} + ' | ' + #{cruiseCompany}"></title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h3 th:text="#{routeFindAll}"></h3>
        </div>
    </div>
    <a class="btn btn-outline-info" href="/admin-panel" th:text="#{backToAdminPanel}"></a>
    <a class="btn btn-info" href="/admin-route/new" th:text="#{routeInsert}" autofocus></a>
    <table class="table table-bordered">
        <caption th:text="#{listOfRoutes}"></caption>
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{name}"></th>
            <th th:text="#{routePoint}"></th>
        </tr>
        <tr th:each="route:${routeList}">
            <td th:text="${route.id}"></td>
            <td th:text="${route.name}"></td>
            <td>
                <ol class="list-group list-group-numbered">
                    <li th:each="routePoint : ${route.routePointList}" class="list-group-item"
                        th:text="${routePoint.name}"></li>
                </ol>
            </td>
            <td>
                <a class="btn btn-warning" th:href="@{/admin-route/{id}/edit(id=${route.id})}"
                   th:text="#{routeUpdate}"></a>
            </td>
            <td>
                <a class="btn btn-outline-warning" th:href="@{/admin-route/{routeId}/point/(routeId=${route.id})}"
                   th:text="#{routePointUpdate}"></a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin-route/{id} (id=${route.id})}">
                    <input class="btn btn-danger" type="submit" th:value="#{delete}">
                </form>
            </td>
        </tr>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>