<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{routeUpdate} + ' | ' + #{cruiseCompany}"></title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h3 th:text="#{routeUpdate}"></h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form th:method="PATCH" th:action="@{/admin-route/{id} (id=${routeDTO.id})}" th:object="${routeDTO}">
                <div class="mb-3">
                    <label class="form-label" for="name" th:text="#{name}"></label> :
                    <input class="form-control" th:field="*{name}" id="name"><br>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" th:value="#{save}" autofocus required min="0" step="1">
                    <input class="btn btn-secondary" type="reset" th:value="#{reset}">
                </div>
            </form>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>