<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center" href="/static/icon.svg" width="100" alt="Cruise">
            </a>
            <ul class="nav col-md-auto">
                <li><a class="nav-link link-dark px-2" href="/admin-panel" th:text="#{adminPanel}"></a></li>
                <li><a class="nav-link link-dark px-2" href="/index" th:text="#{indexPage}"></a></li>
                <li><a class="nav-link link-dark px-2" href="/cruise" th:text="#{cruiseFindAll}"></a></li>
                <li><a class="nav-link link-dark px-2" href="/about" th:text="#{about}"></a></li>
                <li>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="langMenuButton"
                                aria-expanded="false" data-bs-toggle="dropdown" th:text="#{language}">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="langMenuButton">
                            <li><a class="dropdown-item"
                                   href="/index?lang=uk"><span class="fi fi-ua"></span> Українська</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="/index?lang=en"><span class="fi fi-gb"></span> English</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="nav-link link-dark px-2" href="/ticket" th:text="#{myTickets}">
                    [${sessionScope.loggedUser.login}]</a>
                </li>
            </ul>
            <div class="col-md-auto text-end">
                <a class="btn btn-outline-primary" href="/auth/signOut" th:text="#{SignOut}"></a>
                <a class="btn btn-primary" href="/auth/signIn" th:text="#{signIn}"></a>
            </div>
        </header>
    </div>
</div>
</html>