<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cruiseFindById} + ' - ' + ${cruise.name} + ' | ' + #{cruiseCompany}"></title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h3 th:text="#{cruiseFindById}"></h3>
        </div>
    </div>
    <a class="btn btn-outline-info" href="/cruise" th:text="#{backToAllCruises}"></a>
    <div class="row mt-2">
        <div class="col">
            <div class="row mb-5">
                <p>
                    <span th:text="#{name}"></span>:
                    <span th:text="${cruise.name}"></span>
                </p>
                <p>
                    <span th:text="#{description}"></span>:
                    <span th:text="${cruise.description}"></span>
                </p>
            </div>
            <div class="row mb-5">
                <p>
                    <span th:text="#{startDatetime}"></span>:
                    <span th:text="${cruise.startDateTime}"></span>
                </p>
                <p>
                    <span th:text="#{endDatetime}"></span>:
                    <span th:text="${cruise.endDateTime}"></span>
                </p>
                <p>
                    <span th:text="#{liner}"></span>:
                    <span th:text="${cruise.liner.name}"></span>
                </p>
                <p>
                    <span th:text="#{passengerCapacity}"></span>:
                    <span th:text="${cruise.liner.passengerCapacity}"></span>
                </p>
                <p>
                    <span th:text="#{price}"></span>:
                    <span th:text="${cruise.price}"></span> UAH
                </p>
            </div>
            <div class="row mb-5">
                <p>
                    <span th:text="#{route}"></span>:
                    <span th:text="${cruise.route.name}"></span>
                </p>
                <ol class="list-group list-group-numbered">
                    <li th:each="point : ${cruise.route.routePointList}" class="list-group-item"
                        th:text="${point.name}"></li>
                </ol>
            </div>
            <a sec:authorize="isAuthenticated()" th:if="${cruise.status.id} == 2" class="btn btn-success"
               th:href="@{/ticket/{id}/new (id=${cruise.id})}"
               th:text="#{order}"></a>
            <p class="text-warning" th:unless="${cruise.status.id} == 2" th:text="#{cruiseNotActual}"></p>
        </div>
        <div class="col">
            <img th:src="@{/data/cruise/{imageName} (imageName=${cruise.imageName})}" style="width:500px"
                 alt="Cruise image">
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>