<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{about} + ' | ' + #{cruiseCompany}"></title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h3 th:text="#{about}"></h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9">
            <p th:text="#{aboutText}"></p>
            <h4 th:text="#{cruiseChoice}"></h4>
            <p th:text="#{cruiseChoiceText}"></p>
            <h4 th:text="#{signUpToday}"></h4>
            <p th:text="#{signUpTodayText}"></p>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>