<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ticketFindAll} + ' | ' + #{cruiseCompany}"></title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h3 th:text="#{ticketFindAll}"></h3>
        </div>
    </div>
    <a class="btn btn-outline-info" href="/admin-panel" th:text="#{backToAdminPanel}"></a>
    <a class="btn btn-light" href="/admin-ticket/statusUpdate" th:text="#{statusUpdate}"></a>
    <table class="table table-bordered">
        <caption th:text="#{listOfTickets}"></caption>
        <tr>
            <th><span th:text="#{id}"></span>(<span th:text="#{ticket}"></span>)</th>
            <th><span th:text="#{id}"></span>(<span th:text="#{cruise}"></span>)</th>
            <th><span th:text="#{id}"></span>(<span th:text="#{user}"></span>)</th>
            <th th:text="#{price}"></th>
            <th th:text="#{status}"></th>
        </tr>
        <tr th:each="ticket : ${ticketList}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.cruise.id}"></td>
            <td th:text="${ticket.user.id}"></td>
            <td th:text="${ticket.price}"></td>
            <td th:text="#{${ticket.status.name}}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/admin-ticket/{id}/edit(id=${ticket.id})}" th:text="#{edit}"></a>
            </td>
        </tr>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>